<div class="main-content">
    <nav class="navbar" role="navigation">
        <button class="hamburger" alt="toggle navigation menu">
            <div class="hamburger-bar"></div>
            <div class="hamburger-bar"></div>
            <div class="hamburger-bar"></div>
        </button>
        <div class="logo">
            <img src="/images/DominicsLogo.png" alt="Dominic's Logo">
        </div>
        <button class="hamburger" alt="toggle navigation menu">
            <div class="hamburger-bar"></div>
            <div class="hamburger-bar"></div>
            <div class="hamburger-bar"></div>
        </button>
    </nav>
    <ul class="nav-menu-large-screen hidden">
        <li ><a class="nav-menu-link" href="/">Home</a></li>
        <li ><a class="nav-menu-link" href="/locations">Locations</a></li>
        <li ><a class="nav-menu-link" href="/about">About</a></li>
        <li ><a class="nav-menu-link" href="/careers">Careers</a></li>
    </ul>
    <div id="main-content-body" class="main-content-body">
        <div class="dominics-intro">
            <div class="carousel">
                <div id="arrow-left" class="arrow"></div>
                <div class="logo">
                    {{!-- <img src="/images/dominicslogoellipse.png" alt="Dominic's Logo"> --}}
                    <img src="/images/dominicslogoellipsenew2.png" alt="Dominic's Logo">
                    {{!-- <img src="/images/dominicslogoellipsegreenandred.png" alt="Dominic's Logo"> --}}
                    {{!-- <img src="/images/dominicslogoellipsenew3.png" alt="Dominic's Logo"> --}}
                    {{!-- <img src="/images/dominicslogoborderdarker.png" alt="Dominic's"> --}}
                    <img src="/images/dominicslogodarkshadow.png" alt="Dominic's">
                    {{!-- <img src="/images/dominicslogogradientshadow.png" alt="Dominic's"> --}}
                    <p>Buon appetito!</p>
                </div>
                <div class="slide slide1">
                    <div class="slide-content">
                        {{!-- <span>Image One</span> --}}
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="slide-content">
                        {{!-- <span>Image Two</span> --}}
                    </div>
                </div>
                <div class="slide slide3">
                    <div class="slide-content">
                        {{!-- <span>Image Three</span> --}}
                    </div>
                </div>
                <div id="arrow-right" class="arrow"></div>
            </div>

            {{!-- <p>Eat good, feel good!</p> --}}
            {{!-- <p>Buon appetito!</p> --}}
        </div>
        <div class="dominics-quote">
            <p>We strive to serve fine Italian specialties prepared to order, using only the freshest ingredients. It's our goal to present to you with excellent Italian food in a charming and friendly setting.</p>
        </div>
        <div class="locations">
            <h3 class="locations-heading">Locations</h3>
            <div></div>
            {{!-- <div class="location dominics-one">
                <a href="/locations/dominicsI" alt="Dominic's 1 - Boca Raton">Dominic's I - Boca Raton</a>
                <div class="location-title-background"></div>
            </div>
            <div class="location dominics-two">
                <a href="/locations/dominicsII" alt="Dominic's 2 - Boca Raton">Dominic's II - Boca Raton</a>
                <div class="location-title-background"></div>
            </div>
            <div class="location dominics-three">
                <a href="/locations/dominicsIII" alt="Dominic's 3 - Lake Worth">Dominic's III - Lake Worth</a>
                <div class="location-title-background"></div>
            </div>
            <div class="location dominics-four">
                <a href="/locations/dominicsV" alt="Dominic's 4 - Lake Worth">Dominic's IV - Boynton Beach</a>
                <div class="location-title-background"></div>
            </div> --}}
            {{#each locations}}
                {{> location}}
            {{/each}}
        </div>
        <div class="location-button">
            <a href="/locations" alt="Find a location">Find a Dominic's</a>
        </div>
        <div class="dominics-quote">
            <p>Our Italian Specialties and Pizzas have generated a family following among residents and visitors alike. We hope you will enjoy dining with us!</p>
        </div>
        <footer>
            <p>© 2020 Dominic's Pizza & Pasta. All Rights Reserved.</p>
        </footer>
    </div>
</div>
<nav class="nav-menus" role=navigation>
    <ul class="nav-menu">
        <li ><a class="nav-menu-link" href="/">Home</a></li>
        <li ><a class="nav-menu-link" href="/locations">Locations</a></li>
        <li ><a class="nav-menu-link" href="/about">About</a></li>
        <li ><a class="nav-menu-link" href="/careers">Careers</a></li>
    </ul>
</nav>
    

