<!DOCTYPE html>

<!--// OPEN HTML //-->
<html lang="en-US">


  <!--// OPEN HEAD //-->
  <head>
      
    <!--// SITE META //-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!--// SITE TITLE //-->
    <title>Dominic's Pizza & Pasta</title>                        

                                        
    <!-- <link rel='dns-prefetch' href='//maps.google.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' /> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">

    <!-- Facebook Meta -->
    <meta property="og:title" content="Main - Dominic's Pizza & Pasta"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://dominicspizzapasta.com/"/>
    <meta property="og:site_name" content="Dominic's Pizza & Pasta"/>
    <meta property="og:description" content="">
    <!-- <meta property="og:image" content="https://protospizza.com/wp-content/uploads/2016/08/protosLogo.png"/> -->

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Main">
    <meta name="twitter:description" content="">
    <!-- <meta property="twitter:image:src" content="https://protospizza.com/wp-content/uploads/2016/08/protosLogo.png"/> -->

    <!-- CSS Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" media="screen">

    
  <!--// CLOSE HEAD //-->
  </head>

  <!--// OPEN BODY //-->
  <body>
    

    {{{ body }}}


    <script src={{api_url}}></script>
    <script type="text/javascript" src="/javascripts/googlemaps.js"></script>
    <script type="text/javascript" src="/javascripts/carousel.js"></script>
    

  <!--// CLOSE BODY //-->
  </body>


<!--// CLOSE HTML //-->
</html>