<div id="mainContent" class="locations-content">
    {{!-- <iframe src="https://www.google.com/maps/d/embed?mid=1z4qOYzsTswHglvBjFsXGkgchP8MSXvhu" width="100%" height="450" frameborder="0" style="border:0; filter: grayscale(100%);" allowfullscreen=""></iframe> --}}
    <div id="map"></div>
    <h3 class="locations-heading">Locations</h3>
    <div class="locations">
        {{#each locations}}
            {{> location}}
        {{/each}}
    </div>
</div>
        