body {
  // background-color: #444;
  background-color: #222;
  margin: 0;
  padding: 0;
  font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none !important;
  // visibility: collapse;
}

h1,
h2,
h3 {
  text-align: center;
  width: 100%;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  line-height: 27px;
  font-size: 30px;
}

.btn-large {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  padding: 0 28px;
  outline: 0;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#careers-application-btn {
  background-color: #cd212a;
}

.locations-content h3 {
  // margin-block-start: 15px;
}

#information-header {
  font-family: "Roboto Mono", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: white;
  // font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateX(0px);
  transition: transform 1s;
  transition-timing-function: ease-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.6;
  margin: 0 16px;
}

#information-header button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: capitalize;
  letter-spacing: inherit;
  line-height: inherit;
  text-decoration: underline;
  padding: 0 5px;
}

#information-header.hamburger-opened {
  transform: translateX(-280px);
  transition: transform 1s;
  transition-timing-function: ease-out;
}

#information-header p {
  margin: 5px 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.modal {
  z-index: 0;
  // display: block;
  opacity: 0;
  top: 4%;
  transform: scale(0.8);
  padding: 0;
  height: 70%;
  width: 80%;
  // display: none;
  position: fixed;
  left: 0;
  right: 0;
  // background-color: #fafafa;
  background-color: rgb(205, 33, 42);
  color: white;
  max-height: 70%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: absolute;
  height: calc(100% - 105px);
  max-height: 100%;
  width: auto;
  overflow-y: auto;
  padding: 24px;
}

.modal h4 {
  font-size: 1.995rem;
  line-height: 110%;
  margin: 0 0 0.912rem 0;
  font-weight: 400;
}

.modal p {
  padding: 0;
  line-height: 1.6;
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 48px;
  width: calc(100% - 12px);
  text-align: right;
}

.modal a {
  text-decoration: none;
}

.modal-button {
  margin: 6px 0;
  cursor: pointer;
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  font-size: 14px;
  outline: 0;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
}

.modal-trigger:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

.modal-trigger {
  cursor: pointer;
  -webkit-transition: opacity 0.2s, -webkit-box-shadow 0.2s;
  transition: opacity 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, opacity 0.2s;
  transition: box-shadow 0.2s, opacity 0.2s, -webkit-box-shadow 0.2s;
}

.modal-close {
  cursor: pointer;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(205, 33, 42, 0.7);
}

.waves-effect input[type="button"],
.waves-effect input[type="reset"],
.waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  mask-image: radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
  mask-image: none;
}

.waves-block {
  display: block;
}

.waves-effect .waves-ripple {
  z-index: -1;
}

// #covid-modal{
// z-index: 25;
// display: block;
// opacity: 1;
// top: 10%;
// transform: scaleX(1) scaleY(1);
// width: 80%;
// }

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  max-height: 75px;
  padding: 10px 25px;
  position: sticky;
  top: 0;
  z-index: 4;
  transform: translateX(0px);
  transition: transform 1s;
  transition-timing-function: ease-out;
}

#header.hamburger-opened {
  transform: translateX(-280px);
  transition: transform 1s;
  transition-timing-function: ease-out;
}

#header button,
#information-header button {
  background-color: transparent;
  border: none;
}

#header .logo {
  max-width: 53%;
}

#header img {
  margin-top: 3px;
  max-width: 170px;
  width: 100%;
}

/* Hamburger Micro-interaction */
.dot {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: block;
  position: relative;
  // 37px
  // bottom: 8.4px;
  // right: 12.6px;
  bottom: 10.2px;
  right: 14.7px;
}

.hamburger {
  height: 21px;
  width: 22px;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.hamburger:first-of-type {
  display: none;
}

.hamburger:hover {
  opacity: 0.7;
  text-shadow: 0px 0px 6px white;
}

.hamburger .hamburger-bar {
  border-bottom: 3px solid #333333;
  position: absolute;
  width: 22px;
  transition: top 100ms 230ms, transform 100ms, opacity 100ms 230ms;
  transition-timing-function: cubic-bezier(1, 0.05, 0.62, 1.78);
}

.hamburger .hamburger-bar:first-of-type {
  top: 2px;
  left: 0px;
}

.hamburger .hamburger-bar:nth-of-type(2) {
  top: 9px;
  left: 0px;
}

.hamburger .hamburger-bar:nth-of-type(3) {
  top: 16px;
  left: 0px;
}

.hamburger-opened .hamburger-bar {
  transition: top 100ms, transform 100ms 230ms, opacity 100ms;
  transition-timing-function: cubic-bezier(1, 0.05, 0.62, 1.78);
}

.hamburger-opened .hamburger-bar:first-of-type {
  // top: 0.5rem;
  top: 9px;
  left: 0px;
  transform: rotate(45deg);
}

.hamburger-opened .hamburger-bar:nth-of-type(2) {
  opacity: 0;
  left: 0px;
}

.hamburger-opened .hamburger-bar:nth-of-type(3) {
  // top: 0.5rem;
  top: 9px;
  left: 0px;
  transform: rotate(-45deg);
}

.nav-menu-large-screen {
  display: none;
}

a.nav-menu-link {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 23px;
  border-top: 1px solid #333;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #fff;
}

a.nav-menu-link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

#scrollingSegment {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  // background-color: cornflowerblue;
  background-color: transparent;
  flex-basis: auto;
}

#midSection {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 0px;
}

#leftNav {
  // width: 256px;
  width: 0px;
  background-color: lightgray;
}

#mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  transform: translateX(0px);
  transition: transform 1s;
  transition-timing-function: ease-out;
  min-height: calc(100vh - 95px - 90px);
}

#mainContent.hamburger-opened {
  transform: translateX(-280px);
  transition: transform 1s;
  transition-timing-function: ease-out;
}

#mainContent .dominics-intro {
  width: 100vw;
  height: calc(100vh - 75px - 10px - 10px);
}

#mainContent .location-intro {
  background-image: url(/images/pizza4.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  // height: 100vh;
  height: calc(100vh - 75px - 10px - 10px);
}

.gallery {
  width: 100vw;
  margin: 0 auto 30px auto;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.gallery-carousel {
  height: 100vw;
  overflow: hidden;
}

.gallery .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.gallery-carousel-slide {
  display: flex;
  z-index: 0;
  height: 100%;
}

.gallery-slide {
  max-height: 100%;
  max-width: 100vw;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
  transition-timing-function: ease-out;
}

img.gallery-slide[active="false"] {
  opacity: 0.3;
}

img.gallery-slide[active="true"] {
  opacity: 1;
  // transition: opacity 0.3s;
  // transition-timing-function: ease-out;
}

img.thumbnail[active="true"] {
  opacity: 0.3;
}

.gallery .center {
  display: flex;
  justify-content: center;
}

.gallery-thumbnails {
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
  align-self: center;
}

.thumbnail {
  width: 70px;
  height: 70px;
  display: inline-block;
  transition: opacity 0.3s;
  transition-timing-function: ease-out;
}

#mainContent .dominics-intro div.logo,
#mainContent .location-intro div.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainContent .dominics-intro img,
#mainContent .location-intro img {
  width: 80%;
}

#mainContent .dominics-intro p,
#mainContent .location-intro p {
  line-height: 52px;
  font-weight: 700;
  font-style: normal;
  font-size: 9vw;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px #222222;
  /* text-shadow: 0px 0px 6px rgba(100, 100, 100, 0.7); */
}

.carousel {
  height: calc(100vh - 75px - 10px - 10px);
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel .logo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%; //<--
}

.carousel-slide {
  display: flex;
  position: absolute;
  z-index: 0;
  height: 100%;
}

.slide {
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#lastClone {
  background-image: url(/images/pizza1.JPG);
}
#slide1 {
  background-image: url(/images/pizza4.JPG);
}

#slide2 {
  background-image: url(/images/eggplant.JPG);
}

#slide3 {
  background-image: url(/images/calms.JPG);
}

#slide4 {
  background-image: url(/images/mushroom2.JPG);
}

#slide5 {
  background-image: url(/images/pizza1.JPG);
}

#firstClone {
  background-image: url(/images/pizza4.JPG);
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

// #arrow-left{
//   position: absolute;
//   top: 50%;
//   left: 5%;
//   z-index: 2;
//   font-size: 45px;
//   color: rgba(51, 51, 51, 0.9);
//   cursor: pointer;
// }

// #arrow-right{
//   position: absolute;
//   top: 50%;
//   right: 5%;
//   z-index: 2;
//   font-size: 45px;
//   color: rgba(51, 51, 51, 0.9);
//   cursor: pointer;
// }

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 2;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent rgba(51, 51, 51, 0.9);
  right: 0;
  margin-right: 30px;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent rgba(51, 51, 51, 0.9) transparent transparent;
  left: 0;
  margin-left: 30px;
}

.dominics-quote {
  font-size: 8vw;
  color: #222;
  line-height: 1.17;
  padding: 1.25em 0;
  font-weight: 900;
  text-transform: uppercase;
  font-style: normal;
  padding-block-start: 0.83em;
  padding-block-end: 0.83em;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dominics-quote p {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

.locations {
  // margin: 1.25em 0;
  // margin-block-start: 0.83em;
  // margin-block-end: 0.83em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  // padding: 0 15px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // line-height: 27px;
  // font-weight: 700;
  // font-style: normal;
  // font-size: 20px;
  // width: calc(100vw - 15px - 15px)
  // These last two i didn't have before
  // width: 100vw;
  // overflow-x: hidden;
  // margin-bottom: 1.5rem;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 1px;
  max-width: 924.5px;
}

.location {
  // width: 100%;
  // display: flex;
  // flex-direction: ;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  margin-right: 15px;
  margin-left: 15px;
}

div.location:hover {
  opacity: 0.8;
}

.location {
  // position: relative;
  // background-image: url(/images/dominicsIII/interior.jpg);
  // background-repeat: no-repeat;
  // background-size: contain;
  // width: calc(100vw - 30px);
  // height: calc(100vw - 30px);
  // margin-bottom: 25px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.location img {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  vertical-align: middle;
  border-style: none;
  object-fit: cover;
  object-position: 50% 73%;
  height: calc((100vw - 16px) / 1.50228505531);
}

.location a {
  // display: block;
  // text-align: center;
  // height: 13%;
  // width: 100%;
  // padding: 87% 0 0 0;
  // position: relative;
  // z-index: 1;
  // text-decoration: none;
  color: #fff;
  text-decoration: none;
}

.location-title-background h5 {
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  // display: block;
  text-align: center;
  text-decoration: none;
}

.location-title-background {
  // display: block;
  // width: 100%;
  // height: 16%;
  // position: absolute;
  background-color: #333;
  // top: 0;
  // z-index: 0;
  // flex: 1 1 auto;
  // padding: 1.25rem;
  // box-sizing: border-box;
  flex: 1 1 auto;
  padding: 1.25rem;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
}

.location-spaced {
  height: 15vh;
  width: 100%;
  background-color: white;
}

.location-button {
  width: 100%;
}

.location-button a {
  background-color: #cd212a;
  color: #fff;
  display: block;
  padding: 30px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

.location-button > a:hover {
  /* background-color:#008C45; */
  opacity: 1;
  background-color: #222;
}

.location-information {
  text-align: center;
}

.location-information a {
  // text-decoration: none;
  color: black;
}

#information-header button {
  color: inherit;
}

.contact {
  padding-bottom: 21.44px;
}

form {
  display: flex;
  flex-direction: column;
  /* max-width: 300px; */
}

form > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

#deals-form {
  margin: 30px auto;
  max-width: 380px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#deals-form h3 {
  margin: 0 auto;
  padding: 0 0 15px 0;
}

#deals-form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}

#deals-form input,
#deals-form button {
  box-sizing: border-box;
  font-size: 14px;
  padding: 4px;
  width: 100%;
  // width: calc(100vw - 1.5em - 1.5em - 20px);
  max-width: 380px;
  margin-bottom: 20px;
}

#deals-form input {
  border: 1px solid #e6e6e6;
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

#deals-form input:focus,
#deals-form input:active {
  -webkit-appearance: none;
  border: 0px solid #cd212a;
  box-shadow: inset 0 0 2px #cd212a, 0 0 4px #cd212a;
  background-color: #fff;
  outline-color: #cd212a;
  outline-width: medium;
}

#deals-form button {
  background: #cd212a;
  border: 1px solid #cd212a;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#deals-form button:hover {
  background: #fff;
  color: #cd212a;
  transition: 0.3s ease background;
}

#deals-form button:focus,
#deals-form button:active {
  outline-color: invert;
  background: #fff;
  color: #cd212a;
}

#career-application-form {
  margin: 0 auto;
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

#career-application-form h3 {
  margin: 0 auto;
  margin-block-end: 0;
  margin-block-start: 1em;
  padding: 0 0 15px 0;
}

#career-application-form h5,
#career-application-form h4 {
  margin-block-end: 0;
  margin-block-start: 1.67em;
}

#career-application-form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}

#career-application-form input,
#career-application-form button,
#career-application-form textarea {
  box-sizing: border-box;
  font-size: 14px;
  padding: 4px;
  width: 100%;
  max-width: 380px;
  margin-bottom: 20px;
}

#career-application-form input,
#career-application-form textarea {
  border: 1px solid #e6e6e6;
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: calc(100vw - 1.5em - 1.5em);
  resize: none;
  font-family: Arial;
}

#career-application-form input[type|="month"] {
  width: calc((100vw - 1.5em - 1.5em - 12px) / 2);
  max-width: calc((380px - 12px) / 2);
}

#career-application-form .date-range label {
  width: 100%;
}

#career-application-form input:focus,
#career-application-form input:active {
  -webkit-appearance: none;
  border: 0px solid #cd212a;
  box-shadow: inset 0 0 2px #cd212a, 0 0 4px #cd212a;
  background-color: #fff;
  outline-color: #cd212a;
  outline-width: medium;
}

#career-application-form button {
  background: #cd212a;
  border: 1px solid #cd212a;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#career-application-form button:hover {
  background: #fff;
  color: #cd212a;
  transition: 0.3s ease background;
}

#career-application-form button:focus,
#career-application-form button:active {
  outline-color: invert;
  background: #fff;
  color: #cd212a;
}

#career-application-form .form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}

#map {
  margin-bottom: 30px;
}

#map,
#map1,
#map2,
#map3,
#map4 {
  width: 100%;
  height: 450px;
  border: 0;
}

div.map-info-window {
  text-align: left;
}

div.map-info-window a {
  color: #111;
}

#rightNav {
  width: 278px;
  background-color: lightgray;
  position: fixed;
  left: 100vw;
  top: 0;
  height: 100%;
  z-index: 4;
  transform: translateX(0px);
  transition: transform 1s;
  transition-timing-function: ease-out;
}

#rightNav.hamburger-opened {
  transform: translateX(-280px);
  transition: transform 1s;
  transition-timing-function: ease-out;
}

/* Right nav menu for smaller screens */
.nav-menu {
  margin: 0;
  padding: 0;
}

ul.nav-menu {
  list-style-type: none;
  width: 278px;
  height: 100vh;
  background-color: #222;
  border: 1px solid #333333;
  line-height: 160%;
}

.about {
  // min-height: calc(100vh - 96px - 98px);
  // min-height: calc(100vh - 96px - 98px);
  display: flex;
  flex-direction: column;
  margin: 30px auto 0 auto;
  // align-items: center;
  // justify-content: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;
  // top: 30px;
}

.career-content {
  min-height: calc(70vh - 96px);
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin: 15px auto 0 auto;
  // justify-content: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  // position: relative;
  // top: 15px;
}

#careers-application-btn {
  // position: relative;
  // top: 15px;
  margin: 15px;
}

.about p {
  font-size: 18px;
  line-height: 27px;
}

.career-content p {
  font-size: 18px;
  line-height: 27px;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#about-intro,
#career-intro {
  // background-image: url(/images/pizza4.JPG);
  filter: grayscale(1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: calc(100vw / 1.50225338007);
}
#about-intro {
  // background-image: url(/images/pizza4.JPG);
  background-image: url(/images/dominicsIII/DominicsPizzaPastaIII-13.jpg);
}

#career-intro {
  background-image: url(/images/dominicsIII/DominicsPizzaPastaIII-12.jpg);
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // text-align: center;
  // padding: 10px 10px;
  background-color: #333;
  color: #fff;
  padding-left: 0;
  padding-top: 20px;
  font-size: 0.9rem;
  transform: translateX(0px);
  transition: transform 1s;
  transition-timing-function: ease-out;
}

.main-footer {
  text-align: left;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

.main-footer h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
  font-weight: 400;
}

.main-footer p {
  padding: 0;
  text-align: center;
}

.footer-social-content {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
  text-align: center;
}

#footer ul {
  padding-left: 0;
  list-style-type: none;
  text-align: left;
}

.footer-social-content li {
  list-style-type: none;
  display: list-item;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 14.5px;
}

.footer-social-content span {
  min-width: 138px;
}

.footer-content li {
  justify-content: center;
  line-height: 1.6;
  max-width: 167px;
}
.footer-content {
  line-height: 1.6;
  display: none;
}

#footer a {
  color: white;
}

.footer-social-content h5 {
  color: #fff;
  font-size: 1.64rem;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
  font-weight: 400;
  text-align: center;
}

.footer-copyright {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #222;
  width: 100%;
}

#footer.hamburger-opened {
  transform: translateX(-280px);
  transition: transform 1s;
  transition-timing-function: ease-out;
}

.icons img {
  width: 29px;
  height: 29px;
  padding: 7.25px 7.25px;
}

#instagram-icon {
  filter: invert(100%);
}

.footer-social-content > ul > li > a:first-child {
  padding-left: 7.25px;
}
.footer-social-content > ul > li > a:last-child {
  padding-right: 7.25px;
}

.not-found-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 485px) {
  .dominics-quote {
    font-size: 38.8px;
  }
  .dominics-quote p {
    max-width: 544px;
  }

  .gallery-carousel {
    height: 485px;
  }
}

@media only screen and (min-width: 728) {
  .gallery-slide {
    max-width: 728px;
  }
}

/* NavBar Big Change at min-wiidth: 767px */
@media only screen and (min-width: 768px) {
  // #wrapper.hamburger-opened {
  // overflow: hidden;
  // height: 100vh;
  // }

  #information-header {
    margin: 0 24px;
  }

  #information-header.hamburger-opened {
    transform: translateX(0px);
    transition: transform 2s;
    transition-timing-function: ease-out;
  }

  #header {
    background-color: rgba(255, 255, 255, 0);
    justify-content: space-around;
  }

  #header.hamburger-opened {
    transform: translateX(0px);
    transition: transform 1s;
    transition-timing-function: ease-out;
  }

  #header.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    transition: background 500ms;
  }

  #header.scrolled.hamburger-opened {
    background-color: rgba(205, 33, 42, 0);
    border-bottom: 0px solid #333333;
    transition: background 500ms;
  }

  #header .logo {
    visibility: hidden;
  }

  #header .logo.scrolled {
    visibility: visible;
    transition: background 500ms;
  }

  #header .logo.scrolled.hamburger-opened {
    visibility: hidden;
  }

  .hamburger:first-of-type {
    display: block;
  }

  .hamburger:last-of-type {
    visibility: hidden;
  }

  ul.nav-menu-large-screen {
    margin: 0;
    padding: 0;
    z-index: 3;
    transition: transform 1s;
    transition-timing-function: ease-out;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(205, 33, 42, 0.9);
    /* background-color: rgba(34,34,34,0.8); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    line-height: 300%;
  }

  .nav-menu-large-screen li {
    width: 100%;
  }

  #mainContent {
    min-height: calc(100vh - 75px);
  }

  #scrollingSegment {
    position: relative;
    top: calc(-75px - 10px - 9px);
    margin-bottom: calc(-75px - 10px - 6px);
  }

  .carousel {
    height: 100vh;
  }

  #mainContent.hamburger-opened {
    transform: translateX(0px);
    transition: transform 1s;
    transition-timing-function: ease-out;
  }

  #mainContent .dominics-intro,
  #mainContent .location-intro {
    height: 100vh;
  }

  #mainContent .dominics-intro img,
  #mainContent .location-intro img {
    width: 613.59px;
  }

  #mainContent .dominics-intro p,
  #mainContent .location-intro p {
    font-size: 69.03px;
  }

  .location img {
    max-height: 234.13px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 73%;
  }

  .dominics-quote {
    font-size: 52.224px;
  }

  .dominics-quote p {
    max-width: 574px;
  }

  .locations-content h3 {
    // margin-block-start: 110px;
  }

  #career-intro,
  .locations-content #map {
    margin-block-start: 96px;
  }

  .locations {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    // width: auto;
    max-width: 768px;
    justify-content: center;
    // margin: 0 15px;
    // margin-right: -15px;
    // margin-left: -15px;
  }

  .location {
    // width: 340px;
    // height: 340px;
    // margin: 20px 10px;
    flex: 0 0 45.8%;
    max-width: 45.8%;
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-bottom: 30px;
    // padding-right: 15px;
    // padding-left: 15px;
  }

  .location-title-background h5 {
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .gallery {
  // }

  // .gallery-slide {
  //   max-width: 728px;
  // }

  .gallery {
    // max-height: 700px;
    width: 70vw;
  }

  .gallery-carousel {
    height: calc(70vw * 1997 / 3000);
    max-height: 485px;
  }

  .gallery-slide {
    max-width: 70vw;
  }

  .career-content {
    // top: 110px;
    margin-top: 30px;
  }

  .about {
    min-height: calc(100vh - 96px - 98px);
  }

  #career-intro {
    height: 60vh;
  }

  a.nav-menu-link {
    text-align: center;
    border: 0;
    font-size: 50px;
  }

  #rightNav {
    visibility: hidden;
  }

  #footer {
    text-align: left;
  }

  #footer.hamburger-opened {
    transform: translateX(0px);
    transition: transform 1s;
    transition-timing-function: ease-out;
  }
}

@media only screen and (min-width: 993px) {
  .modal {
    width: 55%;
  }

  .about,
  .career-content {
    padding-left: 15%;
    padding-right: 15%;
  }

  .gallery {
    // max-height: 700px;
    width: 70vw;
  }

  // .gallery-carousel {
  //   height: ;
  // }
  .gallery-carousel {
    height: calc(50vw * 1997 / 3000);
    max-height: 485px;
  }

  .gallery-slide {
    max-width: 50vw;
  }

  .main-footer {
    width: 70%;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    margin-bottom: 20px;
  }

  .footer-content {
    display: block;
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
  }

  .footer-social-content {
    margin-left: 16.6666666667%;
  }
}

@media only screen and (min-width: 1600px) {
  div.dominics-quote {
    font-size: 64px;
  }
  div.dominics-quote p {
    max-width: 60vw;
    /* max-width: 574px; */
  }
}
