body {
  background-color: #222;
  margin: 0;
  padding: 0;
  font-family: Roboto Condensed,Arial, Helvetica, sans-serif; }

.hidden {
  visibility: collapse; }

h1, h2, h3 {
  text-align: center;
  width: 100%; }

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  line-height: 27px;
  font-size: 30px; }

.locations-content h3 {
  margin-block-start: 3.3em; }

#information-header {
  font-family: "Roboto Mono",sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateX(0px);
  transition: transform 1s;
  transition-timing-function: ease-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.6;
  margin: 0 16px; }

#information-header button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: capitalize;
  letter-spacing: inherit;
  line-height: inherit;
  text-decoration: underline;
  padding: 0 5px; }

#information-header.hamburger-opened {
  transform: translateX(-280px);
  transition: transform 1s;
  transition-timing-function: ease-out; }

#information-header p {
  margin: 5px 0;
  margin-block-start: 1em;
  margin-block-end: 1em; }

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

#header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  max-height: 75px;
  padding: 10px 25px;
  position: sticky;
  top: 0;
  z-index: 4;
  transform: translateX(0px);
  transition: transform 1s;
  transition-timing-function: ease-out; }

#header.hamburger-opened {
  transform: translateX(-280px);
  transition: transform 1s;
  transition-timing-function: ease-out; }

#header button, #information-header button {
  background-color: transparent;
  border: none; }

#header .logo {
  max-width: 53%; }

#header img {
  margin-top: 3px;
  max-width: 170px;
  width: 100%; }

/* Hamburger Micro-interaction */
.dot {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: block;
  position: relative;
  bottom: 10.2px;
  right: 14.7px; }

.hamburger {
  height: 21px;
  width: 22px;
  cursor: pointer;
  position: relative;
  z-index: 0; }

.hamburger:first-of-type {
  display: none; }

.hamburger:hover {
  opacity: 0.7;
  text-shadow: 0px 0px 6px white; }

.hamburger .hamburger-bar {
  border-bottom: 3px solid #333333;
  position: absolute;
  width: 22px;
  transition: top 100ms 230ms, transform 100ms, opacity 100ms 230ms;
  transition-timing-function: cubic-bezier(1, 0.05, 0.62, 1.78); }

.hamburger .hamburger-bar:first-of-type {
  top: 2px;
  left: 0px; }

.hamburger .hamburger-bar:nth-of-type(2) {
  top: 9px;
  left: 0px; }

.hamburger .hamburger-bar:nth-of-type(3) {
  top: 16px;
  left: 0px; }

.hamburger-opened .hamburger-bar {
  transition: top 100ms, transform 100ms 230ms, opacity 100ms;
  transition-timing-function: cubic-bezier(1, 0.05, 0.62, 1.78); }

.hamburger-opened .hamburger-bar:first-of-type {
  top: 9px;
  left: 0px;
  transform: rotate(45deg); }

.hamburger-opened .hamburger-bar:nth-of-type(2) {
  opacity: 0;
  left: 0px; }

.hamburger-opened .hamburger-bar:nth-of-type(3) {
  top: 9px;
  left: 0px;
  transform: rotate(-45deg); }

.nav-menu-large-screen {
  display: none; }

a.nav-menu-link {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 23px;
  border-top: 1px solid #444;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #fff; }

#scrollingSegment {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: cornflowerblue;
  flex-basis: auto; }

#midSection {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 0px; }

#leftNav {
  width: 0px;
  background-color: lightgray; }

#mainContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  transform: translateX(0px);
  transition: transform 1s;
  transition-timing-function: ease-out;
  min-height: calc(100vh - 74px); }

#mainContent.hamburger-opened {
  transform: translateX(-280px);
  transition: transform 1s;
  transition-timing-function: ease-out; }

#mainContent .dominics-intro {
  width: 100vw;
  height: calc(100vh - 75px - 10px - 10px); }

#mainContent .location-intro {
  background-image: url(/images/pizza4.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: calc(100vh - 75px - 10px - 10px); }

#mainContent .dominics-intro div.logo, #mainContent .location-intro div.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#mainContent .dominics-intro img, #mainContent .location-intro img {
  width: 80%; }

#mainContent .dominics-intro p, #mainContent .location-intro p {
  line-height: 52px;
  font-weight: 700;
  font-style: normal;
  font-size: 9vw;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px #222222;
  /* text-shadow: 0px 0px 6px rgba(100, 100, 100, 0.7); */ }

.carousel {
  height: calc(100vh - 75px - 10px - 10px);
  margin: auto;
  overflow: hidden;
  position: relative; }

.carousel .logo {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%; }

.carousel-slide {
  display: flex;
  position: absolute;
  z-index: 0;
  height: 100%; }

.slide {
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

#lastClone {
  background-image: url(/images/pizza1.JPG); }

#slide1 {
  background-image: url(/images/pizza4.JPG); }

#slide2 {
  background-image: url(/images/pizza1.JPG); }

#slide3 {
  background-image: url(/images/pizza2.JPG); }

#slide4 {
  background-image: url(/images/pizza1.JPG); }

#firstClone {
  background-image: url(/images/pizza4.JPG); }

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.slide-content span {
  font-size: 5rem;
  color: #fff; }

#arrow-left {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 2;
  font-size: 45px;
  color: rgba(51, 51, 51, 0.9);
  cursor: pointer; }

#arrow-right {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 2;
  font-size: 45px;
  color: rgba(51, 51, 51, 0.9);
  cursor: pointer; }

.dominics-quote {
  font-size: 8vw;
  color: #222;
  line-height: 1.17;
  padding: 1.25em 0;
  font-weight: 900;
  text-transform: uppercase;
  font-style: normal;
  padding-block-start: 0.83em;
  padding-block-end: 0.83em;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.dominics-quote p {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center; }

.locations {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 1px;
  max-width: 924.5px; }

.location {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  margin-right: 15px;
  margin-left: 15px; }

div.location:hover {
  opacity: 0.8; }

.location {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px); }

.location img {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  vertical-align: middle;
  border-style: none; }

.location a {
  color: #fff;
  text-decoration: none; }

.location-title-background h5 {
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-decoration: none; }

.location-title-background {
  background-color: #444;
  flex: 1 1 auto;
  padding: 1.25rem;
  border-bottom-left-radius: calc(.25rem - 1px);
  border-bottom-right-radius: calc(.25rem - 1px); }

.location-spaced {
  height: 15vh;
  width: 100%;
  background-color: white; }

.location-button {
  width: 100%; }

.location-button a {
  background-color: #CD212A;
  color: #fff;
  display: block;
  padding: 35px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  font-style: normal;
  font-size: 24px; }

.location-button > a:hover {
  /* background-color:#008C45; */
  opacity: 1;
  background-color: #222; }

.location-information {
  text-align: center; }

#information-header button {
  color: inherit; }

.contact {
  padding-bottom: 21.44px; }

form {
  display: flex;
  flex-direction: column;
  /* max-width: 300px; */ }

form > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0; }

#deals-form {
  margin: 0 auto 30px auto;
  max-width: 380px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center; }

#deals-form h3 {
  margin: 0 auto;
  padding: 0 0 15px 0; }

#deals-form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center; }

#deals-form input,
#deals-form button {
  box-sizing: border-box;
  font-size: 14px;
  padding: 4px;
  width: 100%;
  max-width: 380px;
  margin-bottom: 20px; }

#deals-form input {
  border: 1px solid #e6e6e6;
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 5px; }

#deals-form input:focus, #deals-form input:active {
  -webkit-appearance: none;
  border: 0px solid #cd212a;
  box-shadow: inset 0 0 2px #cd212a, 0 0 4px #cd212a;
  background-color: #fff;
  outline-color: #cd212a;
  outline-width: medium; }

#deals-form button {
  background: #CD212A;
  border: 1px solid #CD212A;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }

#deals-form button:hover {
  background: #fff;
  color: #CD212A;
  transition: .3s ease background; }

#deals-form button:focus, #deals-form button:active {
  outline-color: invert;
  background: #fff;
  color: #CD212A; }

#map {
  margin-bottom: 30px; }

#map, #map1, #map2, #map3, #map4 {
  width: 100%;
  height: 450px;
  border: 0; }

div.map-info-window {
  text-align: left; }

div.map-info-window a {
  color: #111; }

#rightNav {
  width: 278px;
  background-color: lightgray;
  position: fixed;
  left: 100vw;
  top: 0;
  height: 100%;
  z-index: 4;
  transform: translateX(0px);
  transition: transform 1s;
  transition-timing-function: ease-out; }

#rightNav.hamburger-opened {
  transform: translateX(-280px);
  transition: transform 1s;
  transition-timing-function: ease-out; }

/* Right nav menu for smaller screens */
.nav-menu {
  margin: 0;
  padding: 0; }

ul.nav-menu {
  list-style-type: none;
  width: 278px;
  height: 100vh;
  background-color: #222;
  border: 1px solid #333333;
  line-height: 160%; }

.about {
  min-height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;
  top: 15px; }

.career-content {
  min-height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;
  top: 15px; }

.about p {
  font-size: 18px;
  line-height: 27px; }

.career-content p {
  font-size: 18px;
  line-height: 27px;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

#about-outro {
  background-image: url(/images/pizza4.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: calc(70vh - 95px); }

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #222;
  color: #fff;
  transform: translateX(0px);
  transition: transform 1s;
  transition-timing-function: ease-out; }

#footer.hamburger-opened {
  transform: translateX(-280px);
  transition: transform 1s;
  transition-timing-function: ease-out; }

#facebook-icon img {
  width: 19px;
  height: 19px;
  padding: 14px 25px;
  border-left: 2px dotted rgba(255, 255, 255, 0.2); }

.not-found-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media only screen and (min-width: 485px) {
  .dominics-quote {
    font-size: 38.8px; }
  .dominics-quote p {
    max-width: 544px; } }

/* NavBar Big Change at min-wiidth: 767px */
@media only screen and (min-width: 768px) {
  #information-header {
    margin: 0 24px; }
  #information-header.hamburger-opened {
    transform: translateX(0px);
    transition: transform 2s;
    transition-timing-function: ease-out; }
  #header {
    background-color: rgba(255, 255, 255, 0);
    justify-content: space-around; }
  #header.hamburger-opened {
    transform: translateX(0px);
    transition: transform 1s;
    transition-timing-function: ease-out; }
  #header.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    transition: background 500ms; }
  #header.scrolled.hamburger-opened {
    background-color: rgba(205, 33, 42, 0);
    border-bottom: 0px solid #333333;
    transition: background 500ms; }
  #header .logo {
    visibility: hidden; }
  #header .logo.scrolled {
    visibility: visible;
    transition: background 500ms; }
  #header .logo.scrolled.hamburger-opened {
    visibility: hidden; }
  .hamburger:first-of-type {
    display: block; }
  .hamburger:last-of-type {
    visibility: hidden; }
  ul.nav-menu-large-screen {
    margin: 0;
    padding: 0;
    z-index: 3;
    transition: transform 1s;
    transition-timing-function: ease-out;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(205, 33, 42, 0.9);
    /* background-color: rgba(34,34,34,0.8); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    line-height: 300%; }
  .nav-menu-large-screen li {
    width: 100%; }
  #mainContent {
    min-height: calc(100vh - 75px); }
  #scrollingSegment {
    position: relative;
    top: calc(-75px - 10px - 9px);
    margin-bottom: calc(-75px - 10px - 6px); }
  .carousel {
    height: 100vh; }
  #mainContent.hamburger-opened {
    transform: translateX(0px);
    transition: transform 1s;
    transition-timing-function: ease-out; }
  #mainContent .dominics-intro, #mainContent .location-intro {
    height: 100vh; }
  #mainContent .dominics-intro img, #mainContent .location-intro img {
    width: 613.59px; }
  #mainContent .dominics-intro p, #mainContent .location-intro p {
    font-size: 69.03px; }
  .dominics-quote {
    font-size: 52.224px; }
  .dominics-quote p {
    max-width: 574px; }
  .locations {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 768px;
    justify-content: center; }
  .location {
    flex: 0 0 45.8%;
    max-width: 45.8%;
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-bottom: 30px; }
  .location-title-background h5 {
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center; }
  a.nav-menu-link {
    text-align: center;
    border: 0;
    font-size: 50px; }
  #rightNav {
    visibility: hidden; }
  #footer {
    text-align: left;
    padding-left: 10vw; }
  #footer.hamburger-opened {
    transform: translateX(0px);
    transition: transform 1s;
    transition-timing-function: ease-out; } }

@media only screen and (min-width: 1000px) {
  .about, .career-content {
    padding-left: 15%;
    padding-right: 15%; } }

@media only screen and (min-width: 1600px) {
  div.dominics-quote {
    font-size: 64px; }
  div.dominics-quote p {
    max-width: 60vw;
    /* max-width: 574px; */ } }

/*# sourceMappingURL=style.css.map */