<div id="mainContent">
  <div id="career-intro">
    {{!-- <p>Buon appetito!</p> --}}
  </div>
  <div class="career-content">
    
    <h3 class="career-heading career">Careers</h3>
    <p class="career">We are continuously looking for positive and enthusiastic people to join our dynamic crew! Dominic's is now hiring full-time and part-time team members.</p>
    <p class="career">To apply, please go to one of our Dominics' location in person</p>
    <p class="career">If you are interested in joining our team, please fill out and print the employment application form below, and bring application to the desired location weekdays between 2:00PM and 5:00PM.</p>
  
    <a id="careers-application-btn" class="waves-effect waves-light btn-large career">Open Application</a>
    {{> careersForm}}
  </div>
  
</div>
  