<div id="mainContent">
  <div id="about-intro">
    {{!-- <p>Buon appetito!</p> --}}
  </div>
  <div class="about">
    <h3 class="about-heading">Our Story</h3>
    <p>Dominic’s is a neighborhood restaurant inspired by the cuisine and culture of Italy. If you love New York-Italian meals, you’re in for a treat.</p>
    <p>Dominic’s offers a unique atmosphere that combines exceptional food with extraordinary family oriented ambiance. Guests can dine on New York-Italian food while enjoining exceptional service. This family-run business is the only venue that has managed to create a real Italian atmosphere while maintaining that welcome-to-the-family vibe. At Dominic’s, we prepare every dish from scratch, combining fresh ingredients with a fresh New Yorker approach to classic Italian favorites, I promise you will taste the difference from the very first bite.</p>
    <span>
      <p>Buon Appetito,</p>
      <p>Dominic</p>
    </span>
  </div>
  <div class="location-button">
    <a href="/locations" alt="Find a location">Find a Dominic's</a>
  </div>
</div>